<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPPY BIRTHDAY!!!</title>
    <link rel="shortcut icon" type="image/png" href="/happybday.png">
    <link rel="stylesheet" href="/endpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="success">
        <div class="success-animation">
            <img src="/celeb.svg" class="img-svg"/>
        </div>
        <div class="success-thankyou">
            Happy Birthday Once Again!! Love you Raisa❤❤❤
        </div>
    </div>
    <div class="media">
        Follow Raisa on &nbsp;<i onclick="insta()" class="fa fa-instagram"></i>
    </div>
    <div class="raisu">
        <img src="raisa6.jpeg" width="300" height="400">
    </div>
    <div class="footer">
        <div class="love">
        Made with <span style="color: red;">&nbsp;❤&nbsp;</span>by Swagata
        </div>
    </div>
    <script src="/raisa.js"></script>
</body>
</html>