<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPPY BIRTHDAY!!!</title>
    <link rel="shortcut icon" type="image/png" href="/happybday.png">
    <link rel="stylesheet" href="/sjk.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- raisa5, raisa6 -->
    <!-- raisa6, sjk4 -->
    <div class="container">
        <div class="content">
            <div class="nav">
                <div class="icon">
                <img id="pic" src="/icon.png" width="370" height="350">
            </div>
        </div>
        <div class="msg">
            QUEEN AND KING OF EXPRESSION
        </div>
        <div class="body-content">
           
            <div class="sjk1">
                <img src="/raisa5.jpeg" width="280" height="380">
            </div>
            <div class="sjk2">
                <img src="/sjk1.jpeg" width="350" height="380">
            </div>
            </div>
            <div class="input">
                <div class="text">
                    Select any number from 1 to 10 and see what secret message SJK has for you!!!
                </div>
                <div class="sjk-msg">
                    <div class="inp">
                        <div class="ok">
                <input type="number" min="1" max="10", value="1">
                <div class="button" onclick="show()">
                    OK
                </div>
                </div>
                <div class="print"></div>
                </div>
                <div class="image">
                    <img src="/sjk5.jpeg" width=" 340" height="400">
                </div>
                
                </div>
            </div>
            <div class="pict1">
                <img id="pict" src="/sjk4.jpeg" width="400" height="300">
            </div>
            <div class="bttn">
                <div class="btn2" onclick="lastpage()">
                    Next page
                </div>
            </div>
            <div class="footer">
                <div class="love">
                Made with <span style="color: red;">&nbsp;❤&nbsp;</span>by Swagata
                </div>
            </div>
        </div>
    </div>
    <script src="/raisa.js"></script>
</body>
</html>